SECRET_KEY=django-insecure-put-your-own-key-here

DEBUG=False

DATABASE_NAME=django-blog-db
DATABASE_PASSWORD=your-database-password
DATABASE_HOST=ypur-host
DATABASE_PORT=your-port
DATABASE_SCHEMA=ypur-own-schema
DATABASE_USER=your-database-user