SECRET_KEY=django-insecure-put-your-own-key-here

DEBUG=True

DATABASE_NAME=django-blog-db
DATABASE_PASSWORD=your-database-password
DATABASE_HOST=your-host
DATABASE_PORT=your-port
DATABASE_SCHEMA=your-own-schema
DATABASE_USER=your-database-user
OPENAI_API_KEY=sk.......
OPENAI_MODEL=gpt-4o-mini
